/*DEFINE THE SHOUTBOX CSS */

BODY {
	font-family: verdana;
	color: #006600;
	float: middle;
	background-image: url(images/NB_fmm.png);
}

DIV.contain {
border: 0;
height: 150;
width: 100%;
overflow: auto;
align: middle;
}

DIV.history {
border: 0;
height: 100%;
width: 100%;
align: middle;
}

TR.messageboxback {
	background-image: url(images/NB_fmm.png);
}

TR.noalt {
	background-color: #e1e1ff;
}

TR.alt {
	background-color: #cdcdff;
}

INPUT.msgbox {
width: 100%; 
font-size: 12px; 
background-color: AliceBlue;
border: 1px solid black;
}

INPUT.shoutbtn { 
font-size: 12px; 
background-color: AliceBlue;
border: 1px solid black; 
font-weight: bold;
}

.error {
color: red;
font-size: 13px;
}