
# https://httpd.apache.org/docs/2.4/rewrite/flags.html

# https://www.askapache.com/htaccess/

# RewriteRule ^(.+)\.pdf$  /cgi-bin/pdf.php?file=$1 [L,NC,QSA]

Options All -Indexes -MultiViews

# RewriteBase /tt109/www/

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
